.error {
  color: red;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  margin: 20%;
    text-align: center;
    font-family: arial;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}
